packaging_format = 2

id = "listmonk"
name = "Listmonk"
description.en = "Newsletter and mailing list manager"
description.fr = "Manager de newsletter et mailing list"

version = "5.0.3~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "AGPL-3.0-only"
website = "https://listmonk.app/"
demo = "https://demo.listmonk.app/"
admindoc = "https://listmonk.app/docs/"
code = "https://github.com/knadh/listmonk"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/knadh/listmonk/releases/download/v5.0.3/listmonk_5.0.3_linux_amd64.tar.gz"
        amd64.sha256 = "75bc28e39c261abb9a6e7e3f8fb0410a59f0161db9402691da8286254e99772b"
        armhf.url = "https://github.com/knadh/listmonk/releases/download/v5.0.3/listmonk_5.0.3_linux_armv7.tar.gz"
        armhf.sha256 = "597fad72d208b725fa7b09aa515be304f365112d8fccad8ef3f30223786f78b4"
        arm64.url = "https://github.com/knadh/listmonk/releases/download/v5.0.3/listmonk_5.0.3_linux_arm64.tar.gz"
        arm64.sha256 = "ffab19bae33fd474657d464b008a9ce70136c4b6e974cfab61f2560f351a4477"
        in_subdir = false

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = ".*_linux_amd64.tar.gz"
        autoupdate.asset.armhf = ".*_linux_armv7.tar.gz"
        autoupdate.asset.arm64 = ".*_linux_arm64.tar.gz"

    [resources.system_user]
    allow_email = true

    [resources.ports]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    admin.url = "/admin"
    admin.show_tile = false
    admin.auth_header = false
    admin.allowed = "admins"

    # internal API, should not be allowed to visitors
    api.url = "/api"
    api.show_tile = false
    api.auth_header = false
    api.allowed = "admins"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
