packaging_format = 2

id = "listmonk"
name = "Listmonk"
description.en = "Newsletter and mailing list manager"
description.fr = "Manager de newsletter et mailing list"

version = "6.0.0~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "AGPL-3.0-only"
website = "https://listmonk.app/"
demo = "https://demo.listmonk.app/"
admindoc = "https://listmonk.app/docs/"
code = "https://github.com/knadh/listmonk"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/knadh/listmonk/releases/download/v6.0.0/listmonk_6.0.0_linux_amd64.tar.gz"
        amd64.sha256 = "41bb4d05fad675e30d2952a5b73dbc34e4a777b51382b06bbde7d0ef9d25bbdf"
        armhf.url = "https://github.com/knadh/listmonk/releases/download/v6.0.0/listmonk_6.0.0_linux_armv7.tar.gz"
        armhf.sha256 = "a52f3ccdcec4d3047e3e2cca1871f870ad014fd820f0339e17e79b688a59c86f"
        arm64.url = "https://github.com/knadh/listmonk/releases/download/v6.0.0/listmonk_6.0.0_linux_arm64.tar.gz"
        arm64.sha256 = "17d0c2f315bfcf60e4d79a4e29ad1ccae8573475cc11672ffb2f651b768acdec"
        in_subdir = false

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = ".*_linux_amd64.tar.gz"
        autoupdate.asset.armhf = ".*_linux_armv7.tar.gz"
        autoupdate.asset.arm64 = ".*_linux_arm64.tar.gz"

    [resources.system_user]
    allow_email = true

    [resources.ports]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    admin.url = "/admin"
    admin.show_tile = false
    admin.auth_header = false
    admin.allowed = "admins"

    # internal API, should not be allowed to visitors
    api.url = "/api"
    api.show_tile = false
    api.auth_header = false
    api.allowed = "admins"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
