packaging_format = 2

id = "listmonk"
name = "Listmonk"
description.en = "Newsletter and mailing list manager"
description.fr = "Manager de newsletter et mailing list"

version = "5.1.0~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "AGPL-3.0-only"
website = "https://listmonk.app/"
demo = "https://demo.listmonk.app/"
admindoc = "https://listmonk.app/docs/"
code = "https://github.com/knadh/listmonk"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/knadh/listmonk/releases/download/v5.1.0/listmonk_5.1.0_linux_amd64.tar.gz"
        amd64.sha256 = "26ac0e789cdd343e80623baf42fdde13d8a9c9893b190993b2138dd2ed63b40e"
        armhf.url = "https://github.com/knadh/listmonk/releases/download/v5.1.0/listmonk_5.1.0_linux_armv7.tar.gz"
        armhf.sha256 = "edc8cdb5943acf950989ed44e9463d7f8d64852a1d91bbb31467ba9cad2b5d8d"
        arm64.url = "https://github.com/knadh/listmonk/releases/download/v5.1.0/listmonk_5.1.0_linux_arm64.tar.gz"
        arm64.sha256 = "ef30bb5c27c1bd15771c466c0f272a7428676d8227a9af71595f5f88e8300163"
        in_subdir = false

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = ".*_linux_amd64.tar.gz"
        autoupdate.asset.armhf = ".*_linux_armv7.tar.gz"
        autoupdate.asset.arm64 = ".*_linux_arm64.tar.gz"

    [resources.system_user]
    allow_email = true

    [resources.ports]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    admin.url = "/admin"
    admin.show_tile = false
    admin.auth_header = false
    admin.allowed = "admins"

    # internal API, should not be allowed to visitors
    api.url = "/api"
    api.show_tile = false
    api.auth_header = false
    api.allowed = "admins"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
